<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-perfil-equipo-empresa-heading" jhiTranslate="newoApp.perfilEquipoEmpresa.home.createOrEditLabel">Create or edit a Perfil Equipo Empresa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!perfilEquipoEmpresa.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="perfilEquipoEmpresa.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp.perfilEquipoEmpresa.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="perfilEquipoEmpresa.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp.perfilEquipoEmpresa.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="perfilEquipoEmpresa.descripcion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp.perfilEquipoEmpresa.inventariable" for="field_inventariable">Inventariable</label>
                    <input type="number" class="form-control" name="inventariable" id="field_inventariable"
                        [(ngModel)]="perfilEquipoEmpresa.inventariable" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp.perfilEquipoEmpresa.valor" for="field_valor">Valor</label>
                    <input type="number" class="form-control" name="valor" id="field_valor"
                        [(ngModel)]="perfilEquipoEmpresa.valor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newoApp.perfilEquipoEmpresa.impuesto" for="field_impuesto">Impuesto</label>
                    <input type="number" class="form-control" name="impuesto" id="field_impuesto"
                        [(ngModel)]="perfilEquipoEmpresa.impuesto" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
