<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perfilEquipoEmpresa">
            <h2><span jhiTranslate="newoApp.perfilEquipoEmpresa.detail.title">Perfil Equipo Empresa</span> {{perfilEquipoEmpresa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newoApp.perfilEquipoEmpresa.nombre">Nombre</span></dt>
                <dd>
                    <span>{{perfilEquipoEmpresa.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp.perfilEquipoEmpresa.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{perfilEquipoEmpresa.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp.perfilEquipoEmpresa.inventariable">Inventariable</span></dt>
                <dd>
                    <span>{{perfilEquipoEmpresa.inventariable}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp.perfilEquipoEmpresa.valor">Valor</span></dt>
                <dd>
                    <span>{{perfilEquipoEmpresa.valor}}</span>
                </dd>
                <dt><span jhiTranslate="newoApp.perfilEquipoEmpresa.impuesto">Impuesto</span></dt>
                <dd>
                    <span>{{perfilEquipoEmpresa.impuesto}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perfil-equipo-empresa', perfilEquipoEmpresa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
